<?xml version="1.0"?>

<launch>

  <param name="robot_description" command="$(find xacro)/xacro '$(find ysa_telescope)/urdf/model.urdf.xacro'" />

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model model -param robot_description"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ysa_telescope)/world/empty.world"/>
    <arg name="paused" value="true"/>
  </include>

  <!--include file="$(find roboarm)/launch/roboarm_control.launch"/-->

</launch>