<?xml version="1.0"?>

<launch>
	<node name = "mpu9255_reader" 
               pkg = "ysa_telescope" 
              type = "i2c-mpu9255-reader.py"
            output = "screen" />

	<node name = "mpu9255_data_converter"
               pkg = "ysa_telescope"
              type = "mpu9255-data-converter.py"
            output = "screen" />

        <node name = "mpu9255_data_converter"
               pkg = "ysa_telescope"
              type = "comp-filter.py"
            output = "screen" />

	<node name = "servo_controller"
               pkg = "ysa_telescope"
              type = "servo-controller.py"
            output = "screen" /> 

</launch>
